<div class='container'>
  <h2>Search results for "<i><%= @query %></i>"</h2>

  <div>
    <% if @users.empty? || @users.length == User.all.length %>
      No matching results!
    <% else %>
      There are <%= @users.length %> matching profiles!

      <% @users.each do |user| %>
        <div>
          <div class="card" style="width: 18rem;">
            <% if user == current_user %>
              <div class="card-header"><%= link_to user.username, user %> <strong>(YOU)</strong></div>
              <div class="card-body">[<%= user.email %>]</div>
              
            <% else %>
              <div class="card-header"><%= link_to user.username, user %></div>
              <div class="card-body">
                [<%= user.email %>]
                <% if user_signed_in? %>
                  <% if !check_friendship(current_user, user) && FriendRequest.where(sender_id: current_user.id, recipient_id: user.id).empty? %>
                    <%= button_to "Add Friend", friend_requests_path, method: :post, params: {recipient_id: user.id, query: params[:query]}, class: "btn btn-dark ml-2" %>
                  <% elsif check_friendship(current_user, user) %>
                    <i>(Your friend)</i>
                  <% elsif !FriendRequest.where(sender_id: current_user.id, recipient_id: user.id).empty? %>
                    <i>(Pending request...)</i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
          <br>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
</div>
