<%= form_with(model: Comment.new, local: true) do |form| %>
    <div class='comment-form'>
        <%= form.hidden_field :commentable_id, value: post.id %>
        <%= form.hidden_field :commentable_type, value: post.class %>
        <%= form.hidden_field :author_id, value: current_user.id %>
        <%= form.hidden_field :post_id, value: post.id %>

        <%= form.text_area :content, placeholder: "Write a comment..." %>
        <%= form.submit class: 'btn btn-primary' %>
    </div>
<% end %>