<div class="card w-25" style="padding: 3px">
    <% @like = Like.where(user_id: current_user.id, likable_id: object.id, likable_type: object.class.to_s) %>
    <div style="font-size: 14px">
        <strong><%= pluralize(object.likes.length, 'like') %></strong>
        <% if object.likes.length > 0 %>
            by 
            <% object.likes.each_with_index do |like, index| %>
                <% if index == object.likes.length - 1 %>
                    <%= like.user.username %>.
                <% else %>
                    <%= like.user.username %>, 
                <% end %>
            <% end %>
        <% end %>
    </div>
    <% if @like == [] %>
        <%= form_with(model: Like.new, local: true) do |form| %>
            <div class='d-flex' style='align-items: center'>
                <%= form.hidden_field :likable_id, value: object.id %>
                <%= form.hidden_field :likable_type, value: object.class.to_s %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <%= form.submit "Like", class: 'btn btn-success', style: 'font-size: 14px; padding: 3px' %>
            </div>
        <% end %>
    <% else %>
        <%= button_to "Dislike", @like[0], method: :delete, class: 'btn btn-dark', style: 'font-size: 14px; padding: 3px' %>
    <% end %>
</div>