<% posts.each do |post| %>
    <div class="card mb-3" style="width:75rem">
        <h3 class="card-header d-flex justify-content-between">
            <%= User.find(params[:id]).username %> - <%= post.title %><br>
            <div class="d-flex justify-content-between", style="width: 12rem">
                <% if current_user == post.author %>
                    <%= link_to "Edit post", edit_post_path(post), class: 'btn btn-secondary mb-2' %>
                    <%= button_to "Delete post", post, method: :delete, class: 'btn btn-danger', style: 'display: inline' %>
                <% end %>
            </div>
        </h3>
        <div class="card-body">
            <blockquote class="blockquote mb-0" style="font-size: 25px"><%= post.description %></blockquote>
            <%= render 'like', object: post %>
        </div>
        <div class="card-footer">
            <strong>Comments:</strong><br>
            <% if !post.comments.empty? %>
                <% post.comments.each do |comment| %>
                    <div class='d-flex' style='align-items: center' >
                        <strong><%= comment.author.email %></strong>: <%= comment.content %>
                        <% if comment.author == current_user %>
                            <%= link_to "Edit", edit_comment_path(comment), class: 'ml-3 mr-2' %>
                            <%= button_to "Delete", comment, method: :delete , class: 'btn btn-danger mr-4' %>
                            <%= render 'like', object: comment %>
                        <% end %>
                    </div>
                    <br>
                <% end %>
            <% end %>
            <%= render 'comments/form', post: post %>
        </div>
    </div>
<% end %>
