<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% if user_signed_in? %>
    <%= link_to "FACEBOOK", current_user, class: "navbar-brand", id: "logo", style: "font-size: 28px;" %>
  <% else %>
    <%= link_to "FACEBOOK", root_path, class: "navbar-brand", id: "logo", style: "font-size: 28px;" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.email, edit_user_registration_path, class: 'nav-link active'%>
        </li>
        
        <li class="nav-item">
            <%= link_to "All Your Friends", friends_path, class: 'nav-link'%>
        </li>

        <li class="nav-item">
          <%= link_to "Friend Requests", friends_requests_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= render 'static_pages/search_form' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Register new Account", new_user_registration_path, class: 'nav-link' %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
        </li>

        
      <% end %>
    </ul>

    <% if user_signed_in? %>
      <div class="nav-item">
        <%= button_to "Log Out", destroy_user_session_path, class: 'nav-link btn btn-outline-danger mr-2', :method => "delete" %>
      </div>
    <% else %>
      <div class="nav-item">
        <%= render 'static_pages/search_form' %>
      </div>
    <% end %>
    
  </div>
</nav>